In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
arc = gpd.read_file('./data/arcgisCensusBlocks.geojson')
chi = gpd.read_file('./data/chicPortalCensusBlocks.geojson')

In [36]:
print('ARC:')
print(arc.crs)
print('CHI:')
print(chi.crs)

ARC:
epsg:4326
CHI:
epsg:4326

In [37]:
arc.crs.equals(chi.crs)

True

In [4]:
arc.head()

,OBJECTID,AREALAND,AREAWATER,BASENAME,BLKGRP,BLOCK,CENTLAT,CENTLON,COUNTY,FUNCSTAT,...,ObjID,STATE,SUFFIX,TRACT,UR,HU100,POP100,SHAPE_Length,SHAPE_Area,geometry
0,382512,10765.0,0.0,1004,1,1004,+42.1253541,-088.0432581,031,S,...,210701006232286,17,None,803604,None,0.0,0.0,0.004724,1.172067e-06,"MULTIPOLYGON (((-88.04378 42.12625, -88.04364 ..."
1,382513,6240.0,0.0,1000,1,1000,+42.1249884,-088.0400862,031,S,...,210701006232287,17,None,803604,None,0.0,0.0,0.004156,6.793596e-07,"MULTIPOLYGON (((-88.04107 42.12482, -88.04087 ..."
2,382514,13289.0,0.0,4007,4,4007,+42.1283062,-088.0219304,031,S,...,210701006232288,17,None,803605,None,0.0,0.0,0.009855,1.447040e-06,"MULTIPOLYGON (((-88.02408 42.12831, -88.02408 ..."
3,382515,43305.0,0.0,1006,1,1006,+42.1346401,-088.0252379,031,S,...,210701006232289,17,None,803605,None,17.0,56.0,0.008623,4.715658e-06,"MULTIPOLYGON (((-88.02646 42.13379, -88.02645 ..."
4,382516,311638.0,0.0,1009,1,1009,+42.0332301,-087.7910624,031,S,...,210701006232290,17,None,808301,None,0.0,0.0,0.043847,3.388186e-05,"MULTIPOLYGON (((-87.79451 42.03325, -87.79448 ..."

In [9]:
arc.iloc[0]

OBJECTID                                                   382512
AREALAND                                                  10765.0
AREAWATER                                                     0.0
BASENAME                                                     1004
BLKGRP                                                          1
BLOCK                                                        1004
CENTLAT                                               +42.1253541
CENTLON                                              -088.0432581
COUNTY                                                        031
FUNCSTAT                                                        S
GEOID                                             170318036041004
INTPTLAT                                              +42.1253541
INTPTLON                                             -088.0432581
LSADC                                                          BK
LWBLKTYP                                                        L
MTFCC                                                       G5040
NAME                                                   Block 1004
ObjID                                             210701006232286
STATE                                                          17
SUFFIX                                                       None
TRACT                                                      803604
UR                                                           None
HU100                                                         0.0
POP100                                                        0.0
SHAPE_Length                                             0.004724
SHAPE_Area                                               0.000001
geometry        MULTIPOLYGON (((-88.043783 42.12624700100008, ...
Name: 0, dtype: object

In [10]:
arc['GEOID'].duplicated().any()

False

In [11]:
arc.set_index('GEOID',inplace=True)

In [12]:
arc.head()

,OBJECTID,AREALAND,AREAWATER,BASENAME,BLKGRP,BLOCK,CENTLAT,CENTLON,COUNTY,FUNCSTAT,...,ObjID,STATE,SUFFIX,TRACT,UR,HU100,POP100,SHAPE_Length,SHAPE_Area,geometry
GEOID,,,,,,,,,,,,,,,,,,,,,
170318036041004,382512,10765.0,0.0,1004,1,1004,+42.1253541,-088.0432581,031,S,...,210701006232286,17,None,803604,None,0.0,0.0,0.004724,1.172067e-06,"MULTIPOLYGON (((-88.04378 42.12625, -88.04364 ..."
170318036041000,382513,6240.0,0.0,1000,1,1000,+42.1249884,-088.0400862,031,S,...,210701006232287,17,None,803604,None,0.0,0.0,0.004156,6.793596e-07,"MULTIPOLYGON (((-88.04107 42.12482, -88.04087 ..."
170318036054007,382514,13289.0,0.0,4007,4,4007,+42.1283062,-088.0219304,031,S,...,210701006232288,17,None,803605,None,0.0,0.0,0.009855,1.447040e-06,"MULTIPOLYGON (((-88.02408 42.12831, -88.02408 ..."
170318036051006,382515,43305.0,0.0,1006,1,1006,+42.1346401,-088.0252379,031,S,...,210701006232289,17,None,803605,None,17.0,56.0,0.008623,4.715658e-06,"MULTIPOLYGON (((-88.02646 42.13379, -88.02645 ..."
170318083011009,382516,311638.0,0.0,1009,1,1009,+42.0332301,-087.7910624,031,S,...,210701006232290,17,None,808301,None,0.0,0.0,0.043847,3.388186e-05,"MULTIPOLYGON (((-87.79451 42.03325, -87.79448 ..."

In [5]:
chi.head()

,statefp10,name10,blockce10,tract_bloc,geoid10,tractce10,countyfp10,geometry
0,17,Block 2010,2010,6903002010,170316903002010,690300,031,"MULTIPOLYGON (((-87.62907 41.76909, -87.62905 ..."
1,17,Block 3007,3007,6809003007,170316809003007,680900,031,"MULTIPOLYGON (((-87.63412 41.77447, -87.63410 ..."
2,17,Block 3013,3013,6809003013,170316809003013,680900,031,"MULTIPOLYGON (((-87.63485 41.77263, -87.63522 ..."
3,17,Block 4019,4019,2909004019,170312909004019,290900,031,"MULTIPOLYGON (((-87.73841 41.85913, -87.73842 ..."
4,17,Block 4016,4016,2925004016,170312925004016,292500,031,"MULTIPOLYGON (((-87.73217 41.85476, -87.73226 ..."

In [13]:
chi['geoid10'].duplicated().any()

True

In [8]:
chi[chi['geoid10'].duplicated(keep=False)].sort_values('geoid10')

,statefp10,name10,blockce10,tract_bloc,geoid10,tractce10,countyfp10,geometry
46098,17,Block 3001,3001,0101003001,170310101003001,010100,031,"MULTIPOLYGON (((-87.67188 42.02299, -87.67188 ..."
19754,17,Block 3001,3001,0101003001,170310101003001,010100,031,"MULTIPOLYGON (((-87.67188 42.02299, -87.67188 ..."
46110,17,Block 3002,3002,0101003002,170310101003002,010100,031,"MULTIPOLYGON (((-87.67259 42.02306, -87.67188 ..."
30912,17,Block 3002,3002,0101003002,170310101003002,010100,031,"MULTIPOLYGON (((-87.67259 42.02306, -87.67188 ..."
46094,17,Block 4003,4003,0314004003,170310314004003,031400,031,"MULTIPOLYGON (((-87.63918 41.95997, -87.63916 ..."
...,...,...,...,...,...,...,...,...
46085,17,Block 1031,1031,9800001031,170319800001031,980000,031,"MULTIPOLYGON (((-87.92018 42.00332, -87.92048 ..."
46096,17,Block 1033,1033,9800001033,170319800001033,980000,031,"MULTIPOLYGON (((-87.92075 42.00397, -87.92068 ..."
17387,17,Block 1033,1033,9800001033,170319800001033,980000,031,"MULTIPOLYGON (((-87.92075 42.00397, -87.92068 ..."
45949,17,Block 1036,1036,9800001036,170319800001036,980000,031,"MULTIPOLYGON (((-87.93350 42.00422, -87.93367 ..."
46128,17,Block 1036,1036,9800001036,170319800001036,980000,031,"MULTIPOLYGON (((-87.93350 42.00422, -87.93367 ..."

In [17]:
chi.drop_duplicates(inplace=True)

In [19]:
chi.set_index('geoid10',inplace=True)

In [20]:
chi.head()

,statefp10,name10,blockce10,tract_bloc,tractce10,countyfp10,geometry
geoid10,,,,,,,
170316903002010,17,Block 2010,2010,6903002010,690300,031,"MULTIPOLYGON (((-87.62907 41.76909, -87.62905 ..."
170316809003007,17,Block 3007,3007,6809003007,680900,031,"MULTIPOLYGON (((-87.63412 41.77447, -87.63410 ..."
170316809003013,17,Block 3013,3013,6809003013,680900,031,"MULTIPOLYGON (((-87.63485 41.77263, -87.63522 ..."
170312909004019,17,Block 4019,4019,2909004019,290900,031,"MULTIPOLYGON (((-87.73841 41.85913, -87.73842 ..."
170312925004016,17,Block 4016,4016,2925004016,292500,031,"MULTIPOLYGON (((-87.73217 41.85476, -87.73226 ..."

In [24]:
len(arc),len(chi)

(83018, 46311)

In [26]:
both = arc.index.intersection(chi.index)
len(both)

37570

In [29]:
# let's test and see if for a single geoid in both data sources
# that the relevant info (basically just the geometry) matches
idx = both[0]
print(arc.loc[idx])
print('chi')
print(chi.loc[idx])

OBJECTID                                                  3401952
AREALAND                                                   3762.0
AREAWATER                                                     0.0
BASENAME                                                     3024
BLKGRP                                                          3
BLOCK                                                        3024
CENTLAT                                               +41.9325268
CENTLON                                              -087.7405959
COUNTY                                                        031
FUNCSTAT                                                        S
INTPTLAT                                              +41.9325268
INTPTLON                                             -087.7405959
LSADC                                                          BK
LWBLKTYP                                                        L
MTFCC                                                       G5040
NAME                                                   Block 3024
ObjID                                             210701006257435
STATE                                                          17
SUFFIX                                                       None
TRACT                                                      200100
UR                                                           None
HU100                                                        14.0
POP100                                                       39.0
SHAPE_Length                                               0.0041
SHAPE_Area                                                    0.0
geometry        MULTIPOLYGON (((-87.740739 41.933437, -87.7406...
Name: 170312001003024, dtype: object
chi
statefp10                                                    17
name10                                               Block 3024
blockce10                                                  3024
tract_bloc                                           2001003024
tractce10                                                200100
countyfp10                                                  031
geometry      MULTIPOLYGON (((-87.73876099934512 41.93528899...
Name: 170312001003024, dtype: object

In [32]:
# Looking at this, it seems they match. Looking at columns, it seems like we can match columns
xwalk = {
    'STATE':'statefp10',
    'NAME':'name10',
    'BLOCK':'blockce10',
    'TRACT':'tractce10',
    'COUNTY':'countyfp10'
}
cols = list(xwalk.values())
arc.rename(columns=xwalk).loc[both,cols].equals(chi.loc[both,cols])

True

In [38]:
# Okay! This is good. But do the geometry's of the census blocks contained in both sources match?
arc = arc.to_crs('epsg:26916') # I got this CRS from: https://gis.stackexchange.com/questions/346712/choosing-crs-for-chicago-illinois
chi = chi.to_crs('epsg:26916')

count    37570.000000
mean        76.982085
std        208.243866
min          0.000000
25%          0.000000
50%          0.000000
75%         64.559513
max       4895.080194
dtype: float64

In [48]:
dists = arc.loc[both].centroid.distance(chi.loc[both].centroid)

In [49]:
dists.describe()

count    3.757000e+04
mean     1.494681e+02
std      2.556751e+02
min      1.150089e-07
25%      6.497652e-05
50%      6.448820e+01
75%      2.062977e+02
max      5.092258e+03
dtype: float64

In [ ]:
# okay, this is less good. It shows there can be some pretty big distances between the centroids

In [ ]:
# WAIT! Duh they're gonna be different. The chi data is from the 2010 census, the arc data is from the 2020 census
# let's use the 2020 census. It's more recent and seems to be from a more official website